@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

body {
  background: rgb(7, 7, 10);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
#main_container{
  height:76vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow-y: scroll;
}
/* ------------byme---------------- */
#one {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin:3% 0 3% 0 ;
}
#oneleft {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#oneright {
  height: 100%;
  width: 40%;
  /*  */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*  */
}
#heading {
  font-size: 5vw;
  font-weight: light;
}
#text {
  text-align: justify;
}
#oneright img {
  width: 80%;
}
/*  */
#two {
  flex-shrink: 0;
  padding: 2vh 0 0 0;
  /*  */
  height: 12vh;
  width: 100%;
  /* */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#two div {
  height: 100%;
  width: 26.5%;
  border: 1px solid #19d2a6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  cursor: pointer;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.x {
  background: #19d2a6 !important;
  color: black !important;
  font-weight: bold !important;
}
.hider {
  display: none !important;
}
.shower {
  display: flex !important;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
#three {
  height: max-content;
  width: 100%;
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
}
#departments {
  height: max-content;
  width: 80%;
  /*  */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#dfilters {
  padding: 5%;
  width: 80%;
  /*  */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#dfilters button {
  height: 40px;
  width: 120px;
  border: 1px solid rgb(25, 210, 166);
  border-radius: 10px;
  /*  */
  background: transparent;
  color: white;
  /*  */
  cursor: pointer;
}
#cards_container {
  transition: 1s;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
}
.card {
  margin: 0 0 10vh 0;
  flex-shrink: 0;
  height: 20vw;
  width: 20vw;
  border: 1px solid #1f3530;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cardtop {
  height: 80%;
  width: 100%;
  background: rgb(16, 39, 36);
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
}
#cardtop img {
  height: 85%;
  width: 90%;
}
#cardbottom {
  height: 20%;
  width: 100%;
  background: rgb(15, 15, 18);
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewmore a {
  text-decoration: none;
  color: rgb(15, 15, 18);
}
.text {
  height: 100%;
  width: 70%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0 0 10px;
  color: #19d2a6;
}
#logo {
  height: 100%;
  width: 30%;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */
#talks {
  padding: 2% 0 0 0;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
}
#thead {
  height: 10%;
  width: 75%;
  font-size: 3vw;
  padding: 0 0 2% 0;
  /* border:1px solid white; */
}
#guests {
  height: max-content;
  width: 70%;
  /*  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#guestCard {
  flex-shrink: 0;
  height: 30vw;
  width: 25vw;
  border: 1px solid rgba(255, 255, 255, 0.171);
  /*  */
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gctop {
  height: 65%;
  width: 100%;
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
}
#gctop img {
  width: 100%;
}
#gcbottom {
  height: 35%;
  width: 100%;
  background: rgb(15, 15, 18);
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0 5% 0;
}
#gcbt {
  height: 45%;
  width: 90%;
  /* */
  display: flex;
  flex-direction: column;
}
#name {
  color: #19d2a6;
  font-size: 20px;
}
#gcbb {
  height: 55%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
#gcbb h6 {
  color: #19d2a6;
  font-size: 10px;
}
.viewmore {
  display: none;
  background: #19d2a6;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
#guestCard:hover button,
.card:hover button {
  display: flex;
}
#guestCard:hover #gctop,
#guestCard:hover #gcbottom {
  display: none;
}
.card:hover #cardtop,
.card:hover #cardbottom {
  display: none;
}
/*  */
#centerstage {
  display: none;
}
/*~~~~~~~~~~~~~~EVENT-DETAILS-CSS~~~~~~~~~~~~~~~~~~~~~*/
#emain {
  height: max-content;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#emain section {
  margin: 2% 0 2% 0;
  height:max-content;
  width: 75%;
  background: rgb(15, 15, 18);
  padding:3%;
}
#eone {
  margin: 2% 0 0 0;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#o1 {
  height: 80%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#o1 img {
  width: 100%;
}
#o2 {
  height: 80%;
  width: 45%;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}
#o2 h1 {
  height: 30%;
  font-size: 40px;
}
#o2 p {
  height: 40%;
}
#o2buttons {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#o2buttons button {
  width: max-content;
  padding: 10px;
  background: rgb(25, 210, 166);
  color: black;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
h1 {
  font-size: 20px;
  color: rgb(25, 210, 166);
}
#etwo {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#t1,
#t3 {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 0 0 0 12%;
}
#t2 {
  height: 60%;
  border-left: 2px solid white;
}
#ethree {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2% 0 2% 0;
}
#ethree *,
#efour * {
  width: 90%;
  font-weight: bold;
}
#efour {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#efive {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#efive * {
  margin: 0 0 0 4%;
}
/* ~~~~~~~~~~~~~WORKSHOPS_PAGE_STYLES~~~~~~~~~~~~~~~~~~ */
.wone {
  background: rgb(15, 15, 18);
  width: 80% !important;
  height: max-content;
  margin: 5%;
  justify-content: space-evenly !important;
}
.wone #oneright {
  width: 40% !important;
}
.wone #oneleft {
  width: 40% !important;
}
#oneleft * {
  padding: 2%;
}
#oneright img {
  width: 100% !important;
}
.wthree {
  width: 80% !important;
}
/* ------------------RESPONSIVENESS------------------------ */
@media screen and (max-width: 900px) {
  #one {
    flex-direction: column;
    height: max-content;
    width: 100vw;
  }
  #oneleft {
    padding: 5%;
    width: 90vw;
  }
  #oneright {
    width: 90vw;
    padding: 5%;
    justify-content: center;
  }
  #heading {
    font-size: 10vw;
  }
  #oneright img {
    width: 95%;
  }
  /*  */
  #two div {
    height: 8vh;
    width: calc(100% / 3.2);
    font-size: 0.6em;
  }
  #three {
    width: 100vw;
  }
  #dfilters {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: unset;
  }
  #dfilters button {
    flex-shrink: 0;
    margin: 0 2% 0 2%;
  }
  .card {
    height: 80vw;
    width: 80vw;
    margin: 3%;
  }
  #thead {
    font-size: 20px;
  }
  #guests {
    width: 100%;
    justify-content: center;
  }
  #guestCard {
    height: 25%;
    width: 85vw;
    flex-shrink: 0;
  }
  #gctop {
    height: 55%;
  }
  #gcbottom {
    height: 45%;
  }
  #gcbt {
    padding: 5%;
  }
  #guestCard:hover #guestCard {
    height: 30%;
  }
  /*  */
  #emain {
    height: max-content;
    width: 100vw;
  }
  #emain div {
    width: 95%;
  }
  #eone,
  #etwo,
  #ethree,
  #efour,
  #efive {
    margin: 5% 0 0 0;
  }
  #eone {
    padding: 5%;
    height: max-content;
    flex-direction: column;
    justify-content: center;
  }
  #o1 {
    height: max-content;
  }
  #o2 {
    padding: 5%;
    height: max-content;
  }
  #o2 * {
    padding: 2%;
  }
  #o2 button {
    margin: 2%;
  }
  #etwo {
    padding: 5%;
  }
  #etwo div {
    margin: unset;
  }
  #etwo #t1,
  #t3 {
    margin-left: 5%;
  }
  #etwo #t2 {
    width: 30%;
  }
  #ethree {
    height: max-content;
    padding: 5%;
  }
  #efour {
    height: max-content;
    padding: 5%;
  }
  #efive {
    height: max-content;
    padding: 5%;
  }
  .wone #oneleft,
  .wone #oneright {
    width: 90% !important;
    padding: 3% !important;
  }
  .wone #heading,
  #text {
    padding: 2%;
  }
}
/* --------------------------- */
@media screen and (max-width: 1200px) {
  #one {
    flex-direction: column;
    height: max-content;
    width: 100vw;
  }
  #oneleft {
    padding: 5%;
    width: 90vw;
  }
  #oneright {
    width: 90vw;
    padding: 5%;
    justify-content: center;
  }
  #heading {
    font-size: 10vw;
  }
  #oneright img {
    width: 95%;
  }
  /*  */
  #two div {
    height: 8vh;
    width: calc(100% / 3.2);
    font-size: 0.6em;
  }
  #three {
    width: 100vw;
  }
  #dfilters {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: unset;
  }
  #dfilters button {
    flex-shrink: 0;
    margin: 0 2% 0 2%;
  }
  .card {
    height: 80vw;
    width: 80vw;
    margin: 3%;
  }
  #thead {
    font-size: 20px;
  }
  #guests {
    width: 100%;
    justify-content: center;
  }
  #guestCard {
    height: 25%;
    width: 85vw;
    flex-shrink: 0;
  }
  #gctop {
    height: 55%;
  }
  #gcbottom {
    height: 45%;
  }
  #gcbt {
    padding: 5%;
  }
  #guestCard:hover #guestCard {
    height: 30%;
  }
  /*  */
  #emain {
    height: max-content;
    width: 100vw;
  }
  #emain div {
    width: 95%;
  }
  #eone,
  #etwo,
  #ethree,
  #efour,
  #efive {
    margin: 5% 0 0 0;
  }
  #eone {
    padding: 5%;
    height: max-content;
    flex-direction: column;
    justify-content: center;
  }
  #o1 {
    height: max-content;
  }
  #o2 {
    padding: 5%;
    height: max-content;
  }
  #o2 * {
    padding: 2%;
  }
  #o2 button {
    margin: 2%;
  }
  #etwo {
    padding: 5%;
  }
  #etwo div {
    margin: unset;
  }
  #etwo #t1,
  #t3 {
    margin-left: 5%;
  }
  #etwo #t2 {
    width: 30%;
  }
  #ethree {
    height: max-content;
    padding: 5%;
  }
  #efour {
    height: max-content;
    padding: 5%;
  }
  #efive {
    height: max-content;
    padding: 5%;
  }
  .wone #oneleft,
  .wone #oneright {
    width: 90% !important;
    padding: 3% !important;
  }
  .wone #heading,
  #text {
    padding: 2%;
  }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 400px) {
  #two div {
    width: calc(100% / 3);
  }
}
/*--------------------PROFILE PAGE--------------------*/
#as{
  padding:5% 0 5% 0;
  height:50vh;
  width:100%;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
#as1{
  height: 30%;
  width:100%;
  text-align: center;
  padding:2% 0 2% 0;
}
#as1 h1{
  font-size: 5vw;
}
#as2{
  border: 2px solid rgb(25, 210, 166);
  border-radius: 10px;
  height: 100%;
  width:50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#as2 img{
  aspect-ratio: 1/1;
  height:70%;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.2s;
}
#as2 img:hover{
  transform: scale(1.02);
}
#tzid{
  font-size: 4vw;
}
#line{
  margin: 3% 0 3% 0;
  width:80%;
  background:rgba(25, 210, 167, 0.842);
  height:5px;
  border:none;
  border-radius: 20px;
  box-shadow: 0px 2px 2px 1px rgb(25, 210, 166);
}
#feed{
  height:140vh;
  width:100%;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
}
#regevents,#regwkps{
  margin:2% 0% 2% 0% ;
  width:80%;
  border :1px solid rgb(25, 210, 166);
  border-radius:10px;
}
#regevents{
  height:35%;
}
#regwkps{
  height:50%;
}
#eh{
  height: 100%;
  width:20%;
  font-size: 30px;
  font-weight: bold;
  background:linear-gradient(to right, rgba(25, 210, 167, 0.712), transparent);
  border-radius: 10px 0px 0px 10px;
  /*  */
  display: flex;flex-direction: column;justify-content: center;align-items: center;
  padding: 0 1% 0 1%;
}
#ehi{
  height: 80%;
  width:100%;
  /*  */
  writing-mode: vertical-rl;
  text-orientation: upright;
  /*  */
  display: flex;justify-content: center;align-items: center;
}
@media screen and (max-width:1200px){
  #as{
    margin:10%;
  }
  #as2{
    width:80vw;
    padding:5%;
    flex-direction: column;
  }
  #as2 img{
    aspect-ratio: 1/1;
    padding:5%;
    width:max-content
  }
  #feed{
    height: max-content;
  }
  #regevents,#regwkps{
    flex-direction: column;
    width:90%;
  }
  #eh{
    height:20%;
    width:100%;
  }
  #ehi{
    writing-mode: unset;
    text-orientation: unset;
  }
}
/* --------------Registration page------------------ */
#rhead{
  height:20vh;
  font-size: 4vw;
  padding:2%;
}
#rform{
  height:max-content;
  width:50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

textarea{
  padding:2.5vh 0 0 0;
  height:10vh;
  width:100%;
  text-align: center;
  font-size: 30px;font-weight: bold;
  background: rgb(24, 204, 162);
  color:white;
  border-radius:10px;
  border: 4px dashed white;
}
input,select{
  text-align: center;
  padding:3% 0% 3% 0% ;
  width:100%;
  margin:2% 0% 2% 0% ;
  font-size: 20px;
  background: transparent;
  border: 2px dashed rgb(24, 204, 162);
  border-radius: 10px;
  /*  */
  color: white;
  transition: 0.2s;
}
#gp1 input{width:99%;}
#gp1,#gp2{
  width:100%;
  display: grid;
  grid-template-columns: 49% 49%;
  /* grid-column-gap:1%;; */
  justify-content: space-evenly;
  align-items: center;
}
option{background:transparent;color:black;}
#rsubmit{
  cursor: pointer;
  padding:unset;
  height:60px;
  width:40%;
  border:2px solid rgb(24, 204, 162);
  /* border:none; */
  background: radial-gradient(rgb(24, 204, 162),transparent 90%);
}
#rsubmit:hover{
  background: radial-gradient(rgb(24, 204, 162) ,transparent 100%);
}
@media screen and (max-width:1200px){
  #rhead{
    height: unset;
    padding:10%;
    font-size: 10vw;
  }
  #rform{
    width:90vw;
  }
  #gp1,#gp2{
    grid-template-columns: 90vw;
  }
  input{font-size: unset;}
  #tid{
    height: 10vh;
  }
}




















/* ---------------------------footer--------------------------- */
#fl,#fr{
  position: fixed;
  bottom:0%;
  height:9vh;
  width:100%;
  width:calc(100%/3);
  display: flex;
  flex-direction: column;
}
#fl div,#fr div{
  height:100%;
  width:100%;
  background:rgb(7, 7, 10);
}
.fa{
  font-size: 2.5vw;
  color: rgb(25, 210, 166);
}
#fl{
  left:0%;
  clip-path: polygon(29% 0, 100% 0%, 100% 100%, 19% 100%);
  background: rgb(25, 210, 166);
}
#flb{
  clip-path: polygon(30% 5%, 100% 5%, 100% 100%, 20% 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#flb a{
  margin-right: 10%;
}
#flb a:hover .fa{
  font-size: 2.6vw;
  border-bottom: 1px solid rgb(25, 210, 166);
}
/* ------------------- */
#fr{
  right:0%;
  clip-path: polygon(0 0, 70% 0, 80% 100%, 0 100%);
  background: rgb(25, 210, 166);
}
#frb{
  clip-path: polygon(0% 5%, 69% 5%, 79% 100%, 0% 100%);
  display: flex;
  align-items: center;
  font-size: 1vw;
}
#frb h1{
  font-size: 2vw;;
  width:70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#frb h1 a{
  color:unset;
}
#fm{
  position: fixed;
  bottom:0%;
  text-align: center;
}
@media screen and (max-width:1200px){
  #fl,#fr{
    height:5vh;
  }
  #fl{
    clip-path: polygon(29% 0, 100% 0%, 100% 100%, 0% 100%);
  }
  #flb{
    clip-path: polygon(30% 5%, 100% 5%, 100% 100%, 2% 100%);
  }
  /* ------------------- */
  #fr{
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  }
  #frb{
    clip-path: polygon(0% 5%, 69% 5%, 99% 100%, 0% 100%);
  }
  .fa{
    font-size: 2vw;
  }
  #flb a:hover .fa{
    font-size: 2.1vw;
  }
  #fm{
    height: 5vh;
    font-size: 1vw;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* ---------------------------footer--------------------------- */